/* 🔥 RESET */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* 🔥 CENTER CONTENT */


.bg-overlay {
    position: relative;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* 🔥 BACKGROUND + GRADIENT OVERLAY */
.bg-overlay::before {
    content: "";
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;

    background-color: rgba(209, 183, 183, 0.5);
    background-blend-mode: overlay;

    z-index: -1;
}

.index-overlay{
    align-items: left;
}

/* 🔷 BACKGROUNDS */
.home-bg::before {
    background-image: url("/static/images/main_bg.png");
}

.food-bg::before {
    background-image: url("/static/images/food_border.png");
}

.drinks-bg::before {
    background-image: url("/static/images/drinks_border.png");
}

.dessert-bg::before {
    background-image: url("/static/images/dessert_border.png");
}

.cart-bg::before {
    background-image: url("/static/images/cart_bg.png");
}

.receipt-bg::before {
    background-image: url("/static/images/receipt_bg.png");
}

.payment-bg::before {
    background-image: url("/static/images/payment_bg.png");
}

/* 🔷 CONTENT BOX */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

/* 🔥 CARDS */
.card {
    background: rgba(206, 172, 172, 0.638);
    color: rgb(223, 208, 208);
    margin: 15px auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* 🔥 BUTTONS */
button {
    padding: 10px 15px;
    margin: 10px;
    background: linear-gradient(45deg, #000000, #000000);
    border-radius: 20px;
    border: none;
    color: rgb(190, 164, 164);
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    transform: scale(1.1);
}

/* 🔥 LINKS */
a {
    text-decoration: none;
}
body {
    font-size: 18px;
    color: black;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 28px;
}

.card {
    font-size: 16px;
    color: black;
}

button {
    font-size: 16px;
}

.card h3 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}