<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

{% if category == "food" %}
<body class="bg-overlay food-bg">
{% elif category == "beverage" %}
<body class="bg-overlay drinks-bg">
{% elif category == "dessert" %}
<body class="bg-overlay dessert-bg">
{% else %}
<body class="bg-overlay home-bg">
{% endif %}

<div class="container">

<h2>{{category}} Items</h2>

{% for p in items %}
<div class="card">
    <h3>{{p.name}}</h3>
    <p>💰 Rs.{{p.price}}</p>
    <p>📦 Stock: {{p.quantity}}</p>

    <a href="/add/{{p.name}}">
        <button>Add to Cart</button>
    </a>
</div>
{% endfor %}

<a href="/"><button>⬅ Back</button></a>
<a href="/cart"><button>🛒 Cart</button></a>

</div>

</body>
</html>